.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}
 .button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  box-shadow: 4px 2px 2px 2px gray;
}
.button:nth-child(1) {
  animation: moveButton 2s infinite linear;
}
.button:nth-child(2) {
  animation: moveButton 2s infinite linear 0.1s;
}
.button:nth-child(3) {
  animation: moveButton 2s infinite linear 0.2s;
}
.button:nth-child(4) {
  animation: moveButton 2s infinite linear 0.3s;
}
.button:nth-child(5) {
  animation: moveButton 2s infinite linear 0.4s;
}
.button:nth-child(6) {
  animation: moveButton 2s infinite linear 0.5s;
}
.button:nth-child(7) {
  animation: moveButton 2s infinite linear 0.6s;
}
.button:nth-child(8) {
  animation: moveButton 2s infinite linear 0.7s;
}
.button:hover {
  background-color: blue;
  animation-play-state: paused;
}
@keyframes moveButton {
  50% {
    transform: translateY(100px);
  }
}
#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  margin-top: 380px;
  color: white;
  font-size: 30px;
}
.animation-container {
  position: absolute;
  bottom: 0;
  left: 300px;
}
.animation-gif {
  width: 200px;
}

